<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v17.0" nonce="LSYVM2XV"></script>

<!-- Facebook like button code -->
<div align="center" style="position:relative; top:-25px">
  <div class="fb-like" 
    data-href="{{site.url}}{{site.baseurl}}{{page.url}}" 
    data-layout="button" 
    data-size="large"
    data-action="like" 
    data-show-faces="false"
    data-share="false"
    data-width="200">
  </div>
</div>

<h1 style="margin-top:0px; text-align:center; font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;">Downloads</h1>

<div style="margin-top: -18px; margin-bottom: 10px; text-align: center;">
  <a href="{{site.url}}{{site.baseurl}}/guide/install">Which version?</a><br/>
  <a href="{{site.github-repo}}/releases">Release back catalog</a>
</div>
<table class="download">
  <tr>
    <td align="left" width="100%"><h2 style="margin:0px; text-align:left">Beta</h2></td>
    <td style="text-align:right">
      <img src="https://img.shields.io/badge/release-v{{ site.beta-version }}--beta-blue.svg" />
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:left">
      <b>Stable version:</b> <span id="beta-release-date"></span>
      <a href="{{ site.github-repo }}/releases/download/v{{ site.beta-version }}-beta/OGCS_Setup.exe" class="button" style="margin-bottom:5px" onClick="handleClickEvent('download', 'Beta Exe'); const delay = setTimeout(() => defenderSmartScreen('beta'), 1000);">
        <small>Download Install File</small>
        Setup.exe
      </a>
    </td>
  </tr>
   <tr>
    <td colspan="2">
      <a href="{{ site.github-repo }}/releases/download/v{{ site.beta-version }}-beta/Portable_OGCS_v{{ site.beta-version }}.zip" class="button" onClick="handleClickEvent('download', 'Beta Zip'); const delay = setTimeout(() => defenderSmartScreen('beta'), 1000);">
        <small>Download File</small>
        Portable Zip
      </a>
    </td>
  </tr>
</table>

{% if site.show_alpha_downloads == true %}
<br/>
<table class="download">
  <tr>
    <td align="left" width="100%"><h2 style="margin:0px; text-align:left">Alpha</h2></td>
    <td  style="text-align:right">
      <img src="https://img.shields.io/badge/release-v{{ site.alpha-version }}--alpha-orange.svg" />
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:left">  
      <b>Latest version:</b> <span id="alpha-release-date"></span>
      <a href="{{ site.github-repo }}/releases/download/v{{ site.alpha-version }}-alpha/OGCS_Setup.exe" class="button" style="margin-bottom:5px" onClick="handleClickEvent('download', 'Alpha Exe'); const delay = setTimeout(() => defenderSmartScreen('alpha'), 1000);">
        <small>Download Install File</small>
        Setup.Exe
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <a href="{{ site.github-repo }}/releases/download/v{{ site.alpha-version }}-alpha/Portable_OGCS_v{{ site.alpha-version }}.zip" class="button" onClick="handleClickEvent('download', 'Alpha Zip'); const delay = setTimeout(() => defenderSmartScreen('alpha'), 1000);">
        <small>Download File</small>
        Portable Zip
      </a>
    </td>
  </tr>
</table>
{% endif %}

<script>
  const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

  let releaseDateStrBeta = "{{ site.beta-release-date }}";
  const betaYear = parseInt(releaseDateStrBeta.substring(0, 4));
  const betaMonth = parseInt(releaseDateStrBeta.substring(4, 6)) - 1;
  document.getElementById("beta-release-date").textContent = months[betaMonth] +"-"+ betaYear;

{% if site.show_alpha_downloads == true %}
  let releaseDateStrAlpha = "{{ site.alpha-release-date }}";
  const alphaYear = parseInt(releaseDateStrAlpha.substring(0, 4));
  const alphaMonth = parseInt(releaseDateStrAlpha.substring(4, 6)) - 1;
  document.getElementById("alpha-release-date").textContent = months[alphaMonth] +"-"+ alphaYear;
{% endif %}
  
  function diffInDays(releaseType) {
    //window.alert(releaseType);
    
    const year = betaYear;
    const month = betaMonth;
    const day = parseInt(releaseDateStrBeta.substring(6, 8));
    if (releaseType == "alpha") {
      let year = alphaYear;
      let month = alphaMonth;
      let day = parseInt(releaseDateStrAlpha.substring(6, 8));
    }
    const releaseDate = new Date(year, month, day);

    const today = new Date();
    // Reset "today" to midnight for an accurate day-to-day comparison
    today.setHours(0, 0, 0, 0);
    // Calculate difference in milliseconds
    const diffInMs = today - releaseDate;
    
    // Convert ms to days (1000ms * 60s * 60m * 24h)
    const diffInDays = diffInMs / (1000 * 60 * 60 * 24);
    //window.alert(diffInDays);
    return diffInDays;
  }
  function defenderSmartScreen(releaseType) {
    if (diffInDays(releaseType) < {{ site.release-date-recency }} ) {
      window.location = '{{ site.baseurl }}{% post_url 2026-01-29-download-blocked-by-ms-defender %}';
    }
  }
</script>
