<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v11.0" nonce="LSYVM2XV"></script>

<!-- Facebook like button code -->
<div align="center" style="position:relative; top:-25px">
  <div class="fb-like" 
    data-href="{{site.url}}{{site.baseurl}}{{page.url}}" 
    data-layout="button" 
    data-size="large"
    data-action="like" 
    data-show-faces="false"
    data-share="false"
    data-width="200">
  </div>
</div>

<h1 style="margin-top:0px; text-align:center; font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;">Downloads</h1>

<div style="margin-top: -18px; margin-bottom: 10px; text-align: center;"><a href="{{site.url}}{{site.baseurl}}/guide/install">Which version?</a></div>
<table class="download">
  <tr>
    <td align="left" width="100%"><h2 style="margin:0px; text-align:left">Beta</h2></td>
    <td style="text-align:right">
      <img src="https://img.shields.io/badge/release-v{{ site.beta-version }}--beta-blue.svg" />
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:left">
      <b>Stable version:</b> {{ site.beta-release-date }}
      <a href="{{ site.github-repo }}/releases/download/v{{ site.beta-version }}-beta/Setup.exe" class="button" style="margin-bottom:5px" onClick="handleClickEvent('download', 'Beta Exe');">
        <small>Download Install File</small>
        Setup.exe
      </a>
    </td>
  </tr>
   <tr>
    <td colspan="2">
      <a href="{{ site.github-repo }}/releases/download/v{{ site.beta-version }}-beta/Portable_OGCS_v{{ site.beta-version }}.zip" class="button" onClick="handleClickEvent('download', 'Beta Zip');">
        <small>Download File</small>
        Portable Zip
      </a>          
    </td>
  </tr>
</table>

{% if site.show_alpha_downloads == true %}
<br/>
<table class="download">
  <tr>
    <td align="left" width="100%"><h2 style="margin:0px; text-align:left">Alpha</h2></td>
    <td  style="text-align:right">
      <img src="https://img.shields.io/badge/release-v{{ site.alpha-version }}--alpha-orange.svg" />
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:left">  
      <b>Latest version:</b> {{ site.alpha-release-date }}
      <a href="{{ site.github-repo }}/releases/download/v{{ site.alpha-version }}-alpha/Setup.exe" class="button" style="margin-bottom:5px" onClick="handleClickEvent('download', 'Alpha Exe');">
        <small>Download Install File</small>
        Setup.Exe
      </a>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <a href="{{ site.github-repo }}/releases/download/v{{ site.alpha-version }}-alpha/Portable_OGCS_v{{ site.alpha-version }}.zip" class="button" onClick="handleClickEvent('download', 'Alpha Zip');">
        <small>Download File</small>
        Portable Zip
      </a>
    </td>
  </tr>
</table>
{% endif %}
