/* Custom OGCS styles and modifications */

th {
  #font-weight: bold;
  font-size: larger;
  color: #2879d0;
  background-color: #9ddcff;
  padding: 5px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  border-left: white 2px solid;
}

td {
  border: #9ddcff 2px solid;
  padding: 3px;
}

#main-content .sans-bullet:before {
  content: none;
}

header h1 {
  font-size: 50px;
}
header table, header td, table.download, .download td {
  border: 0px;
  padding: 0px;
}

#main-content a.button {
  padding-left: 75px;
  display: inline-block;
  text-align: left;
  background: transparent url(../images/maincontent-github-button.png) 0 0 no-repeat;
}

#section-buttons {
  width: fit-content;
}

#section-buttons a.button {
  position: relative;
  top: -25px;
  margin-right:20px;
  display: inline-block;
  width: auto;
  height: initial;
  padding: 7px 20px;
  margin-top: 15px;
  font-size: 17px;
  line-height: 1;
  color: #2879d0;
  text-align: center;
  background-color: #9ddcff;
  background-image: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#content-wrapper {
  padding-top: unset;
  border-top: 0px;
}

#main-content ul li {
  list-style: none;
  text-indent: -20px;
}

#main-content ul li:before {
  color: #2879d0;
  content: '\2022';
  font-size: 20px;
  line-height: 0px;
  top: 2px;
  padding-right: 7px;
  position: relative;
}

#main-content ul {
  margin-bottom: 4px;
}

img.emoji {
  top: 3px;
  position: relative;
}

aside#sidebar table.download a.button {
  text-align: left;
  margin-bottom: 5px;
}

.tip {
  background-color: lightyellow;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  border: bsolid 1px;
  border: solid 1px cadetblue;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-top: -20px;
}
.tip.a {
  cursor: hand;
}
.tip img.emoji {
    margin-left: -30px;
    margin-right: 5px;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  aside#sidebar table.download {
    width: 200px;
    margin: auto; /* center */
  }
  aside#sidebar a.button {
    display: inherit; /* Still want buttons to display */
  }
}
