<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/images/ogcs128x128.png" />
    <link rel="icon" type="image/png" sizes="128x128" href="{{ site.baseurl }}/images/ogcs128x128.png" />
    <link rel="icon" type="image/png" sizes="64x64" href="{{ site.baseurl }}/images/ogcs64x64.png" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/ogcs.css" media="screen" />
    <link rel="canonical" href="{{site.url}}{{site.baseurl}}{{page.url}}" />
    
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    {% if site.google_analytics and site.google_ad_testing == "off" %}
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.google_analytics }}', { 'anonymize_ip': true });
    </script>
    <script>
      function handleClickEvent(category, label) {
        gtag('event', 'click', {'event_category': category, 'event_label': label});
      }
    </script>
    {% endif %}
    
    <script type="application/ld+json"> {
      "@context": "https://schema.org",
      "@type": "SoftwareApplication",
      "name": "Outlook Google Calendar Sync",
      "operatingSystem": "Windows",
      "applicationCategory": "UtilitiesApplication",
      "offers": {
        "@type": "Offer",
        "price": 0
      }
    }
    </script>
    
    {% if site.google_ad_client %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.google_ad_client }}" crossorigin="anonymous"></script>
    
    <script async src="https://fundingchoicesmessages.google.com/i/pub-5710461137665920?ers=1" nonce="VNz3dNeEBSaMF7EIcJpfnA"></script>
    <script nonce="VNz3dNeEBSaMF7EIcJpfnA">
      (function() {function signalGooglefcPresent() {if (!window.frames['googlefcPresent']) {if (document.body) {const iframe = document.createElement('iframe'); iframe.style = 'width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;'; iframe.style.display = 'none'; iframe.name = 'googlefcPresent'; document.body.appendChild(iframe);} else {setTimeout(signalGooglefcPresent, 0);}}}signalGooglefcPresent();})();
    </script>
    {% endif %}
    
    <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <meta property="og:url"           content="{{site.url}}{{site.baseurl}}{{page.url}}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}" />
    <meta property="og:description"   content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:image"         content="{{site.url}}{{site.baseurl}}/images/ogcs128x128.png" />
  </head>
  
  {% if page.onload %}
  <body onload="{{ page.onload }}();">
  {% else %}
  <body>
  {% endif %}
  
    {% include header.html %}

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          
          {{ content }}

        </section>
        
        <aside id="sidebar">
          
          {% include downloads.html %}
          
          <br/><br/><br/>

          <h1 style="margin-top:0px; text-align:center; font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;">Social Posts</h1>
          <div style="text-align: center; margin-top: -17px;"><a href="https://bsky.app/profile/ogcalsync.bsky.social" target="_blank">On BlueSky</a></div>
          <!--script src="https://cdn.jsdelivr.net/npm/bsky-embed@0.1.4/dist/bsky-embed.es.js" async=""></script-->
          <script src="https://cdn.jsdelivr.net/npm/bsky-embed/dist/bsky-embed.es.js" async type="module"></script>
            <bsky-embed
            username="ogcalsync.bsky.social"
            limit="5"
            link-target="_blank"
            link-image="true"
            load-more="true"
            disable-styles="true"
            custom-styles="a.text-ellipsis { display: none; } 
            span.mx-1 { display: none; } 
            span.text-slate-500 { padding-top: 4px; display: block; } 
            img.w-14 { width: 23px; float: inline-start; margin-right: 5px; } 
            div.gap-2 { margin-top: 10px; } 
            p.whitespace-pre-wrap { margin-top: 7px; }"
            date-format='{"type":"absolute","locale":"en-GB","options":{"year":"numeric","month":"short","day":"numeric"}}'
            >
          </bsky-embed>

          <p>&nbsp;</p>
          <hr/>
          
          <div align="center">
            <p class="repo-owner"><a href="{{ site.github-repo }}">OGCS</a> is maintained by <a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a>.</p>
            
            {% if page.title != "Donation" %}
              <p><h3 class="repo-owner">Finding it useful?</h3>
                Buy me a beer or 3!<br/>
                :pizza: + :beer: = :grinning:<br/>
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=44DUQ7UT6WE2C&item_name=Outlook%20Google%20Calendar%20Sync%20donation.%20For%20splash%20screen%20hiding,%20enter%20your%20Gmail%20address%20in%20comment%20section" onClick="handleClickEvent('outbound', 'Donate');">
                  <img src="{{ site.baseurl }}/images/paypal_donate_button.png" alt="PayPal - The safer, easier way to pay online." border="0" style="padding-top:4px">
                </a><br/>
                <small>£10 or more hides splash screen</small>
              </p>
            {% endif %}
          </div>
          
          <hr/>
          <p align="center" style="margin-bottom: 0px">This page was generated<br/>by <a href="https://pages.github.com">GitHub Pages</a>.</p>
          <hr/>
          <br/>
          
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.google_ad_client }}" crossorigin="anonymous"></script>
          <!-- Side bar - fixed square -->
          <ins class="adsbygoogle"
               style="display:block;width:200px;height:220px"
               data-ad-client="{{ site.google_ad_client }}"
               data-ad-slot="6257648673"
               data-adtest="{{ site.google_ad_testing }}">
          </ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
          
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.google_ad_client }}" crossorigin="anonymous"></script>
          <!-- Side bar - responsive vertical -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="{{ site.google_ad_client }}"
               data-ad-slot="9939589418"
               data-ad-format="auto"
               data-full-width-responsive="true"
               data-adtest="{{ site.google_ad_testing }}">
          </ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
          
        </aside>
      </div>
    </div>

    <br/>
    <div align="center" style="font-size:small">
      <a href="{{ site.baseurl }}/privacy-policy.html">Privacy Policy</a>
    </div>
    <br/>
  </body>
</html>
