<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/jpg" href="images/ogcs128x128.png" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/ogcs.css" media="screen" />
    <link rel="canonical" href="{{site.url}}{{site.baseurl}}{{page.url}}" />
    
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    {% if site.google_analytics %}
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.google_analytics }}', { 'anonymize_ip': true });
    </script>
    <script>
      function handleClickEvent(category, label) {
        gtag('event', 'click', {'event_category': category, 'event_label': label});
      }
    </script>
    {% endif %}
    
    {% if site.google_ad_client %}
    <script data-ad-client="{{ site.google_ad_client }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% endif %}
    
    <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <meta property="og:url"           content="{{site.url}}{{site.baseurl}}{{page.url}}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}" />
    <meta property="og:description"   content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:image"         content="{{site.url}}{{site.baseurl}}/images/ogcs128x128.png" />
  </head>
  
  {% if page.onload %}
  <body onload="{{ page.onload }}();">
  {% else %}
  <body>
  {% endif %}
  
    {% include header.html %}

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          
          {{ content }}

        </section>
        
        <aside id="sidebar">
          
          {% include downloads.html %}          
          
          <br/>

          <h1 style="margin-top:0px; text-align:center; font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;">Tweets</h1>
          <div style="display: inline-block; height: 155px;"></div>
          
          <span id="foobar" style="position:absolute; clip: rect(44px,220px,204px,0px); margin-top: -60px;">
            <a class="twitter-timeline" data-width="220" data-height="250" href="https://twitter.com/OGcalsync?ref_src=twsrc%5Etfw">Tweets by OGcalsync</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </span>
          
          <hr/>
          
          <div align="center">
            <p class="repo-owner"><a href="{{ site.github-repo }}">OGCS</a> is maintained by <a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a>.</p>
            
            {% if page.title != "Donation" %}
              <p><h3 class="repo-owner">Finding it useful?</h3>
                Buy me a beer or 3!<br/>
                :pizza: + :beer: = :grinning:<br/>
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=44DUQ7UT6WE2C&item_name=Outlook%20Google%20Calendar%20Sync%20donation.%20For%20splash%20screen%20hiding,%20enter%20your%20Gmail%20address%20in%20comment%20section" onClick="handleClickEvent('outbound', 'Donate');">
                  <img src="{{ site.baseurl }}/images/paypal_donate_button.png" alt="PayPal - The safer, easier way to pay online." border="0" style="padding-top:4px">
                </a><br/>
                <small>£10 or more hides splash screen</small>
              </p>

              <hr/>
            {% endif %}
          </div>
          
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.google_ad_client }}" crossorigin="anonymous"></script>
          <!-- Side bar - fixed square -->
          <ins class="adsbygoogle"
               style="display:block;width:200px;height:220px"
               data-ad-client="{{ site.google_ad_client }}"
               data-ad-slot="6257648673"
               data-adtest="{{ site.google_ad_testing }}">
          </ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
          
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.google_ad_client }}" crossorigin="anonymous"></script>
          <!-- Side bar - responsive vertical -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="{{ site.google_ad_client }}"
               data-ad-slot="9939589418"
               data-ad-format="auto"
               data-full-width-responsive="true"
               data-adtest="{{ site.google_ad_testing }}">
          </ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
          
          <script type='text/javascript'>
            function _dmBootstrap(file) {
                var _dma = document.createElement('script');
                _dma.type = 'text/javascript';
                _dma.async = true;
                _dma.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + file;
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(_dma);
            }
            function _dmFollowup(file) { if (typeof DMAds === 'undefined') _dmBootstrap('cdn2.DeveloperMedia.com/a.min.js'); }
            (function () { _dmBootstrap('cdn1.DeveloperMedia.com/a.min.js'); setTimeout(_dmFollowup, 2000); })();
          </script> 

          <div data-type="ad" data-publisher="github.OutlookGoogleCalendarSync" data-zone="ros" data-format="160x600" style="width: 160px; height: 600px; margin: 0px auto; padding-top: 10px;"></div>
          
          <br/>
          <hr/>
          <br/>
          
          <p align="center">This page was generated<br/>by <a href="https://pages.github.com">GitHub Pages</a>.</p>
        </aside>
      </div>
    </div>

    <div align="center" data-type="ad" data-publisher="github.OutlookGoogleCalendarSync" data-format="728x90" data-zone="ros" ></div>
    <br/>
    <div align="center" style="font-size:small">
      <a href="{{ site.baseurl }}/privacy-policy.html">Privacy Policy</a>
    </div>
    <br/>
  </body>
</html>
